*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardItem{
    
    height: 460px;
    width: 290px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* imagen*/

.cardItem .cardImg{
    height: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.cardItem .cardImg img {
    height: 100%;
}

/* descripcion*/

.cardDescription{
    display: flex;
    flex-direction: column;
    height: 35%;
    padding: 5px;
}

.cardDescription .title{
    font-size: 21px;
    margin: 6px
}
.cardDescription .description{
    display: none;
}

.cardDescription .cant{
    color: black;
    font-size: 15px;
}

.cardDescription .precio{
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin: 6px;
}

/*contenedor de botones*/

.buttons{
    
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons #detalles{
    height: 55%;    
    width: 78%;
    border-radius: 50px;
    background-color: rgb(168, 163, 156);
    color: white;
    font-size: 20px;
    border: none;
}

.buttons #detalles:hover{
    background-color: rgb(168, 163, 156);
}

.buttons #addCart{
    background-color: rgb(168, 163, 156);
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons #addCart img{
    transform: scale(.65);
}

.buttons #detalles:hover, .buttons #addCart:hover{
    background-color: #4c00d1;
}