body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 150px;
    border: 2px solid rgb(168, 163, 156);
    display: flex;
    justify-content: center;
}

/*containerBrand */
header .containerBrand{
    border: 1px solid black;
    width: 20%;
    height: 100%;
}

header .containerBrand img{
    width: 100%;
    height: 100%;
}
/*containerList */
header .containerItemList{
    border: 1px solid black;
    width: 60%;
    height: 100%;
    display: flex;
}

header .containerItemList ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .containerItemList ul li{
    margin: 30px;
    cursor: pointer;
    
}
/*containerCart */

header .containerCart{
    border: 1px solid black;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(168, 163, 156)
}

header .containerCart .containerLength{
    background-color: rgb(168, 163, 156);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

header .containerCart .containerLength  .cantCart{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    color: black;
    align-items: center;
    top: 0;
    left: 80%;
    border-radius: 50%;
}
